.constainer {
  display: flex;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid lightgray;
  margin-bottom: 0.2em;
  cursor : pointer;
  transition: transform 250ms ease-in;

}


.video:hover{
  transform: scale(1.02);
}
.title, .channel {
  margin : 0;
}

.channel {
  font-size: 0.9rem;
}

.thumbnails{
width: 40%;
}

