.video {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid lightgray;
  margin-bottom: 0.2em;
  cursor : pointer;
  transition: transform 250ms ease-in;
  font-family:'Ubuntu', sans-serif;
}


.video:hover{
  transform: scale(1.02);
}
.title, .channel {
  margin : 0;
  margin-left: 1rem;
}

.title{
  font-size: 1.2rem;
  font-weight: 700;

}
.channel {
  font-size: 1rem;
}

.thumbnails{
width: 15rem;
height: 10rem;
}


@media screen and (max-width: 1000px) {
  .thumbnails{
    width: 10rem;
    height: 8rem;
    }

    .title{
      font-size: 1rem;
      font-weight: 700;
    
    }
    .channel {
      font-size: 0.8rem;
    }
    
}